<% view_page = false if view_page.nil? %>
<% color_style = "color:##{list.color};" %>

<% unless list.archived? %>
  <div class="card w-100 mb-3">
    <% if view_page %>
      <div class="d-flex flex-row justify-content-between align-items-center card-header">
        <h2 class="mb-0" style=<%= color_style%>><%= list.title %></h2>
        <div>
          <%= link_to edit_list_path(list), class: "icon-link icon-link-hover link-primary pe-3", style: "--bs-icon-link-transform: scale(1.25);" do %> 
            <i class="bi bi-pencil h3"></i>
          <% end %>
          <%= link_to list, data: {
              turbo_method: :delete,
              turbo_confirm: "Are you sure?"
            }, class: "icon-link icon-link-hover link-danger", style: "--bs-icon-link-transform: scale(1.25);" do %> 
            <i class="bi bi-trash h3"></i>
          <% end %>   
        </div>
      </div>
    <% else %>
      <%= link_to list, class: "text-decoration-none" do %>
        <div class="d-flex flex-row justify-content-between align-items-center card-header">
          <h2 class="mb-0" style=<%= color_style%>><%= list.title %></h2>
          <i class="bi bi-chevron-right h3 mb-0"></i>
        </div>
      <% end %>
    <% end %>
    <div class="card-body">
      <p><%= list.description %></p>
      <ul class="list-group list-group-flush">
        <% list.list_items.each do |list_item| %>
          <li class="list-group-item">
            <div class="d-flex justify-content-between">
              <%= list_item.item %>
              <%= link_to [list_item.list, list_item], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                }, class: "icon-link icon-link-hover link-danger", style: "--bs-icon-link-transform: scale(1.25);" do %> 
                  <i class="bi bi-trash"></i>
              <% end %>          
            </div>
          </li>
        <% end %>          
      </ul>
    </div>
  </div>
<% end %>
