<h1><%= @list.title %></h1>

<p><%= @list.color %></p>

<p><%= @list.description %></p>

<ul>
  <li><%= link_to "Edit", edit_list_path(@list) %></li>
  <li><%= link_to "Destroy", list_path(@list), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  } %></li>
</ul>