
<%= form_with model: [ @list, @list.list_items.build ] do |form| %>
  <div class="my-2">
    <%= form.label :item, class: "form-label" %>
    <%= form.text_field :item, class: "form-control  mw-50" %>
  </div>

  <div class="my-2">
    <%= form.label :status, class: "form-label"%>
    <%= form.select :status, Visible::VALID_STATUSES, { selected: 'incomplete' }, class: "form-select" %>
  </div>

  <div class="my-2">
    <%= form.submit "SAVE", class: "btn btn-primary" %>
  </div>    
<% end %>